
<div class="row">
  <% content_for(:title, "Links | Hacker News") %>
  <div class="col-md-10 col-md-offset-1 site">
    <div class="site-title">
      <h2>Hacker News</h2>
    </div>

<div class="post">
  <ol>
    <% @links.sort_by_score.each do |link| %>
      <%= form_for(@vote) do |f| %>
        <li><input name="vote[link_id]" type="hidden" value="<%= link.id %>">
        <input name="id" type="hidden" value="<%= link.id %>">
        <button type="submit" class="btn votearrow"></button>
          <a href="http://<%= link.link %>"><%= link.description %></a> |
        <%= link.link_score %> points | <a href="links/<%= link.id %>"> comments</a></li>
      <% end %>
    <% end %>

  </ol>
</div>



<div class="post-centered">
  <p><a href="links/new">+ Add Link</a></p>
</div>

 </div><!-- dive for col -->
</div><!-- div for row -->
