<% content_for(:title, "Links | Hacker News") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 site">
    <div class="site-title">
      <h2>Links Index:</h2>
    </div>

<div class="post">
  <ul>
    <% @links.each do |link| %>
      <%= form_for(@vote) do |f| %>
        <input name="vote[link_id]" type="hidden" value="<%= link.id %>">
        <input name="id" type="hidden" value="<%= link.id %>">
        <button type="submit" class="btn votearrow"></button>
          <a href="http://<%= link.link %>"><%= link.description %></a> |
        <%= link.upvote_total %> votes
      <% end %>
    <% end %>

  </ul>
</div>



<div class="post-centered">
  <p><a href="links/new">+ Add Link</a></p>
</div>

 </div><!-- dive for col -->
</div><!-- div for row -->
